
<html>

  <head>
    <title>Drinker Profile Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>

    <div id ="welcome_text">

      <h3>Well Hellooooooo There,   <%= @drinker.name %> !  Pick Your Poison / Regret: </h3>


      <a href="/"><button type="button"
        id="BacktoWelcome">Back to the DrunkChat n' Crawl!</button></a>

      <%= form_tag('/log_out', method: :delete) do %>
      <%= submit_tag "Log-Out " %>
      <% end %>



      <p><%= link_to "New Image", new_image_path %> |
        <%= link_to "View All", images_path %>
      </p>


    </div>
    <script type="text/javascript">



      // insert a fixed image...
      // $(document).ready( function() {
      //     $('div').append('<img src="/uploads/image/file/2/Me.jpg">')
      // } );


    </script>

  </body>

</html>
