<html>

<head>
  <title>Choose Your Own Disaster</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>

  <script type="text/javascript">
  var app = app || {};
  $("#getLocation").click(function() {

    var latitude, longitude;
    navigator.geolocation.watchPosition(function(position) {
      latitude = position.coords.latitude;
      longitude = position.coords.longitude;
      app.getBarsAndRender(latitude, longitude);



  app.getBarsAndRender = function(lat, long) {
    $.ajax({
      url: '/bar_crawl',
      dataType: "json",
      method: 'post',
      data: { lat: lat, long: long},
      success:function(data){
        $('.bar_row').empty();
        for (var i = 0; i < data.bracket.length; i++) {
          var row = $('<div>').addClass('bar-row')
          for (var j = 0; j < data.bracket[i].length; j++) {
            var bar_name = data.bracket[i][j].name
            var h3 = $('<span>').addClass('bar').text(bar_name);
            $(h3).on('click', function(event) {
              $(this).toggleClass("yesBar");
            });

            (function(){
              var local_h3 = h3;
              var local_bar_name = bar_name;
              $(local_h3).dblclick( function(event){
                $('#crawl_list').append('<li>' + local_bar_name + '</li>');
              });
            })();

            row.append(h3);

          }
          $('#bracket').append(row);
        }
      }
    });
  }

  });

});

  $("#location_searchBtn").click(function() {

    var location = $('#location_search').val();

    $.ajax({
      url: '/geolocation_getter',
      dataType: "json",
      method: 'post',
      data: { location: location },
      success:function(data){
        app.getBarsAndRender(data.latitude, data.longitude);
      },
      error: function(err) {
        console.log(err);
      }
  });



  });




  </script>

  <header>
    <h1 id="head_text">Choose Your Own Disaster</h1>
  </header>



  <div id="location">
    <button type="button" id="getLocation">We're finna start here</button>
    <h2 id="or">or</h2>
    <input type="text" id="location_search" placeholder="Address + Zip"><button id="location_searchBtn">Finna Start Somewhere Else</button>
  </div>

  <h2 id='position'></h2>


  <div id="bracket"></div>

  <div>
    <ol id="crawl_list"></ol>
  </div>




<!-- ******************
DrunkChat -->
    <div id="drunk_chat">
      <h5 class="chat_text">Wanna DrunkChat? No Ragrets! Yolo, Yo.</h5>

      <p class="chat_text">First time, Drinker? Sign up!</p>
      <!-- form for sign-up: to make a new drinker -->
      <form action="/drinkers" method='post'>
        <%= token_tag %>
        <input type="text" name='drinker[name]' placeholder='...drinkername'>
        <input type="password" name='drinker[password]' placeholder='...password'>
        <input type="submit" value='Sign-Up'>
      </form>

      <p class="chat_text">Veteran Drinker? Sign in!</p>
      <!-- form for sign-in: to make a new session -->
      <form action="/sessions" method='post'>
        <%= token_tag %>
        <input type="text" name='drinkername' placeholder='...drinkername'>
        <input type="password" name='password' placeholder='...password'>
        <input type="submit" value='Sign-In'>
      </form>
    </div>


    <div id="drunk_chat">
    <h5 class="chat_text">Chats</h5>
    <ul>
      <li class="chats">
        <%= form_for @chat do |f| %>
          <%= f.label :message %>
          <%= f.text_field :message %>
          <%= f.submit %>
        <% end %>
      </li>
      <% @chats.reverse.each do |chat| %>
        <li>
          <p class="chat_text">
            <%= chat.drinker.name %> :   <%= chat.message %>
          <p class="chat_text">
        </li>
      <% end %>
    </ul>
  </div>

  </body>
</html>
